%nav
  %ul.nav.nav-tabs
    %li.active
      =link_to '主页', root_path
    %li
      %a{href: '#'} 投票
    %li
      %a{href: '#'} 意见
    %li
      =link_to '小区问题', problems_path
    %li
      %a{href: '#'} 御西湖业主意见网
    - if user_signed_in?
      %li
        =link_to '#{current_user}'
      %li
        =link_to '注销', destroy_user_session_path, method: :delete
    - else
      %li.sign-up
        =link_to '登入', new_user_session_path
