%nav
  %ul.nav.nav-tabs
    %li.active
      =link_to '主页', root_path
    %li
      %a{href: '#'} 投票
    %li
      %a{href: '#'} 意见
    %li
      =link_to '小区问题', problems_path
    %li
      %a{href: '#'} 御西湖业主意见网
    %li.sign-up
      =link_to '注册', new_user_path
